{% extends 'blog/base.html' %}
{% block title %}
  Delete post
{% endblock title %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <p>
          <legend><h2>Delete: "{{ post.title }}"</h2></legend>
        </p>
        <p>
          <strong>Are you sure you would like to delete it?!</strong>
        </p>
      </fieldset>
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% else %}
{% include "blog/errors/403_admin.html" %}{% endif %}
{% endblock content %}