{% extends 'blog/base.html' %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block content %}
  <h2><strong>{{ post.title }}</strong></h2>
  <br>
  <h5>{{ post.text }}</h5>
  <br>
  Posted on the: {{ post.pub_date }}
  <br><br>
  <h6>Category: {{ post.category }}</h5>
    <h6>Tags: 
      {% for tag in post.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
      {% empty %}
          No tags
      {% endfor %}
      <br><br>
      {% if user.is_authenticated %}
        <small>
          (<a href="{% url 'blog:edit_post' post.id%}">Edit</a>)
          (<a href="{% url 'blog:delete_post' post.id %}">Delete</a>)
        </small>
      {% endif %}
  </h6>
  <br>
  <a href="{% url 'blog:home' %}" class="btn btn-primary">Back</a>
{% endblock content %}