{% extends 'blog/base.html' %}
{% block title %}
  New post
{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend><h2>Write a new post...</h2></legend>
        <br><br>
        {{ form.as_p }}
      </fieldset>
      <button type="submit" class="btn btn-success">Post</button>
      <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% else %}
You are not allowed here.
{% endif %}
{% endblock content %}