{% extends 'blog/base.html' %}
{% block title %}
  New category
{% endblock title %}
{% block content %}
{% if user.is_authenticated and user.is_superuser %}
  {% if messages %}
      <div class="alert alert-warning" role="alert">
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      </div>
  {% endif %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend><h2>Add a new category...</h2></legend>
        <p>
          {{ form.as_p }}
        </p>
      </fieldset>
      <button type="submit" class="btn btn-success">Add</button>
      <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% else %}
You are not allowed here.
{% endif %}
{% endblock content %}