{% extends 'blog/base.html' %}
{% block title %}
  Edit profile
{% endblock title %}
{% block content %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend><h2>Edit profile...</h2></legend>
        <p>
          {{ form.as_p }}
        </p>
      </fieldset>
      <a href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>  
{% endblock content %}